body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    width: 100%;
    height: 50px;
    position: relative;
}
header div {
    float: left;
    justify-content: space-between;
    align-items: center;
}
header .name {
    position: absolute;
    top: 5px;
    left: 80px;
    padding: 10px;
    background-color: aqua;
    color: blue;
    font: bold;
    font-size: 20px;
    border: 2px solid aqua;
    border-radius: 5px solid aqua;
}
header .name:hover {
    font: bold;
    border: 2px solid aqua;
    border-radius: 10px;
}

header .nav {
    position: absolute;
    top: 0;
    right: 100px;
    
    
}
header .nav ul {
    list-style: none;
    
}
header .nav ul li {
     float: left;
     padding-right: 20px;   
}
header .nav ul li a {
    text-decoration: none;
    color: rgb(37, 35, 35);
    text-transform: uppercase;
    font-size: 15px;
    
}
header .nav ul li a:hover {
    background-color: aqua;
    color: blue;
    border: 2px solid aqua;
    border-radius: 7px;
    padding: 5px;
}

/* 2 */

section {
    background-color: whitesmoke;
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.one, .tow {
    width: 50%;
}
.one {
    margin-left: 100px;
    margin-bottom: 100px;
}
.tow {
    padding-right: 10px;
    padding-bottom: 10px;
}
.tow img {
    max-width: 100%;
    height: auto;
}
.one h3 {
    font-weight: normal;
}
.one h1 {
    font-size: 50px;
}
.one p {
    color: gray;

}
.one input {
    padding: 8px 15px;
    background-color: aqua;
    outline: none;
    color: beige;
    border: 2px solid aquamarine;
    border-radius: 5px;
}
.one input:hover {
    box-shadow:  5px 10px 30px rgb(6, 250, 169);
    transition: all 0.3s ease-in;
}
 /*----3---*/

 .three, .four {
    width: 50%;
 }

 .three {
    margin-left: 100px;
    margin-bottom: 100px;
 }
 .four {
    margin-right: 60px;
    margin-left: 30px;
    margin-bottom: 100px;
 }
 .three img {

    max-width: 100%;
    height: auto;
 }
 .four h3 {
    font-weight: normal;
}
.four h1 {
    font-size: 50px;
}
.four p {
    color: gray;

}
.four input {
    padding: 8px 15px;
    background-color: aqua;
    outline: none;
    color: beige;
    border: 2px solid aquamarine;
    border-radius: 5px;
}
.four input:hover {
    box-shadow:  5px 10px 30px rgb(6, 250, 169);
    transition: all 0.3s ease-in;
}

